.card-img-overlay{
  text-align: center;
  padding: 50px;
}

.blockquote{
  font-size: 25px;
}

.blockquote-footer{
  font-variant: small-caps;
  color: black;
}

.p-5{
  background-color: #FCCDD6;
}

#header{
  font-family: 'Shrikhand', cursive;
  padding-top: 50px;
  text-decoration: dotted underline;
}

.border-pink {
  border-color: hotpink;
}

.badge-secondary{
  background-color: hotpink;
}

.figure{
  float: right
}

.alert{
  margin: 20px;
}

.row h2{
  color: hotpink;
  padding: 5px;
  font-weight: lighter;
}

.container{
  padding: 50px;
}

.card a{
  color: hotpink;
}

.card-header{
  background-color: hotpink;
  color: white;
}

.card-title{
  color: hotpink;
}

.card-columns{
  display: inline-block;
}

.pink{
  background-color: #FCCDD6;
}


.bold{
  font-weight: bold;
}

.info{
  float: left;
  padding: 15px;
  width:400px;
}
